/*******************************************

        DEFAULT VALUES:
        
        Font Family:        Roboto Condensed
        
        Greenish Blue:     #34c6d3 (buttons, Icons, Links, Lines & Background)
        Steel Gray:        #41464b (Headings)
        Blue Rayoyx:       #64707b (Paragraphs)
        White:             #fff      (White text with black background)
        Black:             #000     ()


*******************************************/


/* General CSS */

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  color: #64707b;
  font-size: 16px;
  font-weight: 300;
}

h3 {
  color: #41464b;
  text-transform: uppercase;
}


/*******************************************
            HOME
*******************************************/

#home {
  height: 100%;
}

#home-cover {
  height: 100%;
  background-image: url("../img/bg-home.jpg");
}

#home-content-box {
  width: 100%;
  height: 100%;
  display: table;
}

#home-content-box-inner {
  display: table-cell;
  vertical-align: middle;
  /* text-align: center; */
}

#home-heading h3 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  margin: 20px 0;
}


/*******************************************
            PARALLAX (Generic)
*******************************************/

.bg-parallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/*******************************************
            BUTTONS (Generic)
*******************************************/

.btn-general {
  border-width: 2px;
  border-radius: 0;
  padding: 12px 26px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.btn-white {
  border-color: #fff;
  color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  background-color: #fff;
  color: #41464b;
}


/*******************************************
            ANIMATE
*******************************************/

#home-cover,
#home-heading,
#home-btn {
  animation-duration: .5s;
}

#home-cover {
  animation-delay: .1s;
}

#home-heading {
  animation-delay: .5s;
}

#home-btn {
  animation-delay: 1s;
}

/*******************************************
            CONTENT (Generic)
*******************************************/
.content-box {
  padding: 60px 0;
}

.content-title h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 30px 0;
}

.content-title-underline {
  width: 30px;
  height: 3px;
  background-color: #34c6d3;
  margin: 0 auto 30px auto;
}

/*******************************************
            SERVICES
*******************************************/
.service-item {
  padding: 20px 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.service-item-icon i {
  color: #34c6d3;
  float: left;
  padding: 15px;
  margin-right: 25px;
  width: 75px;
  height: 75px;
  text-align: center;
}

.service-item:hover .service-item-icon i {
  color: #fff;
  background-color: #34c6d3;
}

.service-item-title h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
}

.service-item-desc p {
  margin: 0;
  padding-left: 85px;
}

/*******************************************
            CLIENTS
*******************************************/
.client {
  padding: 40px 0;
}